*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
  background-color: #FFDEE9;
  background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
  font-family: 'Spartan', sans-serif;
  font-size: 1rem;
  
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
span.resultado {
  position: relative;
  width: 100%;
}
.resultado-enter {
  transition: .5s;
}
.resultado-enter.resultado-enter-active{
  transform: translateY(0%);
}
.resultado-exit{
  transform: translateY(0);
  transition: .5s;
  position : absolute;
  left: 0;
  bottom : 0;
  right: 0;
}
.resultado-exit-active{
  opacity: 0;
  transform: translateY(-10%);
}